name: Publish docs

on:
  push:
    branches: [ main ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Upload documentation to Wiki
        uses: theos/github-wiki-publish-action@v1
        with:
          path: "docs"
        env:
          GH_WIKI_REPOSITORY: ProcursusTeam/Procursus
          GH_PERSONAL_ACCESS_TOKEN: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
